<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>723771846233-qn24h0skv5j8mukg54kro3s4u8mlp5f4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723771846233-qn24h0skv5j8mukg54kro3s4u8mlp5f4</string>
	<key>API_KEY</key>
	<string>AIzaSyAiQR9v9vJUIvys3NufNH4npLbA01bAOLk</string>
	<key>GCM_SENDER_ID</key>
	<string>723771846233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gastos</string>
	<key>PROJECT_ID</key>
	<string>gastos-119fb</string>
	<key>STORAGE_BUCKET</key>
	<string>gastos-119fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723771846233:ios:ff5a2f62fbaf68e4878b48</string>
</dict>
</plist>